.loader {
    font-family: shrikhand;
    font-size: 35px;
    animation: color-change 3s infinite alternate;
    z-index: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: print 2.5s;
    opacity: 0;
    transition: opacity 1s;
}

.loader::after {
    content: "\2026";
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    animation: points steps(4, end) 1.5s infinite;
    width: 0px;
}

@keyframes print {
    0%{
        opacity: 100%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes points {
    to {
        width: 1em;
    }
}

@keyframes color-change {
    0% {
        color: #9356dc;
    }
    50% {
        color: #ff79da;
    }

    100% {
        color: #99e2d0;
    }
}