.loader {
    font-family: shrikhand;
    font-size: 35px;
    /* animation: color-change 3s infinite alternate; */
    z-index: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: opac;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.loader::after {
    content: "\2026";
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    animation: points steps(4, end) 1.5s infinite;
    width: 0px;
}

@keyframes opac {
    50% {
        opacity: 1;
        visibility: visible;
    }
    70%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes points {
    to {
        width: 1em;
    }
}

@keyframes color-change {
    0% {
        color: #9356dc;
    }
    50% {
        color: #ff79da;
    }

    100% {
        color: #99e2d0;
    }
}