@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,700&display=swap');
.logo-ohmyfood-top, .logo-ohmyfood-bottom, .Restaurant-title{
    font-family: shrikhand;
}

    .main{
        z-index: 10;
    }

    .header{
        z-index: 10;
    }

    .loader{
        z-index: 100;
        width: 100%;
        height: 100%;
        background-color: white;
        position: absolute;
        color: black;
    }

    .logo-ohmyfood-top{
        font-size: 30px;
        margin-bottom: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.2);
    }

    .header-location-box{
        display: flex;
        background-color: #dbdbdb;
        width: 100%;
        height: 35px;
        justify-content: center;
    }

    .search-bar{
        border: none;
        background-color: #dbdbdb;
        font-size: 18px;
        display: flex;
    }

    .location-marker{
        margin-right: 12px;
        margin-top: 10px;
    }

    .top-sn2-part{
        background-color: #f2f2f2;
        width: 100%;
        height: 230px;
        margin-bottom: 30px;
        text-align: center;
    }

    .title-header{
        font-size: 22px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        padding-top: 30px;
        font-family: Roboto;
    }

    .sub-title{
        display: flex;
        justify-content: center;
        font-size: 16px;
        font-family: roboto;
        font-weight: 400;
        color: gray;
    }


    .explor-button-move{
        display: flex;
        justify-content: center;
        color: white;
        margin-bottom: 15px;
        font-size: 16px;
        width: 100%;
    }

    .explor-button-header{
        border-radius: 25px;
        background: linear-gradient(to bottom right, #FF79DA, #9356DC);
        margin-top: 35px;
        margin-bottom: 35px;
        box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.35); 
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding: 15px;
        font-family: Roboto;
        font-weight: 400;
        transition: 300ms;
    }

    .explor-button-header:hover{
        background: linear-gradient(to bottom right, #ffa6e6, #a576de);
        transform: scale(1.10);
    }

    .title-fonctionnement{
        font-size: 21px;
        font-weight: bold;
        margin-left: 15px;
        margin-bottom: 20px;
        font-family: Roboto;

    }

    .utilisation-step{
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 40px;
    }

    .step-box{
        width: 100%;
        height: 50px;
        background-color: #e3e3e3;
        border: 2px solid transparent;
        border-radius: 15px;
        margin-bottom: 20px;
        box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.35); 
        transition: all 200ms;
    }

    .step-box:hover{
        background-color: #d7b9ed;
        color: rgb(136, 25, 136);
        text-decoration: none;
    }

    .text-arrangement-black{
        color: black;
        font-family: Roboto;
        font-weight: 600;
    }

    .help-text{
        display: flex;
        justify-content: center;
        margin-top: 16px;
        font-weight: bold;
    }

    .emote-margin-phone{
        font-size: 18px;
        margin-right: 15px;
    }

    .emote-margin-store{
        font-size: 18px;
        margin-right: 15px;
    }

    .emote-margin-menu{
        margin-right: 15px;
    }

    .help-text-arrangement{
        margin-right: 22px;
    }

    .help-text-arrangement-bottom{
        margin-right: 15px;
    }

    .fonction-number{
        border-radius: 50%;
        border: 2px solid #8b43b5;
        background-color: #8b43b5;
        font-size: 13px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 8px;
        padding-right: 8px;
        color: white;
        position: relative;
        top: 37px;
        right: 8px;
        font-family: Roboto;
    }

    .title-restaurant-list{
        font-weight: bold;
        font-size: 21px;
        margin-left: 15px;
        margin-bottom: 20px;
        font-family: Roboto;
        padding-top: 20px;
    }

    .restaurant-list{
        background-color: #f2f2f2;
        padding-bottom: 10px;
    }

    .all-restaurant-box{
        margin-left: 15px;
        margin-right: 15px;
    }

    .restaurant-box{
        width: 100%;
        margin-bottom: 20px;
        box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.35);
        border-radius: 20px 20px 20px 20px;
        position: relative;
    }

    .image-restaurant{
        width: 100%;
        height: 160px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .restaurant-info{
        padding-left: 12px;
        text-decoration: none;
        background-color: white;
        border-radius: 0px 0px 20px 20px;
    }

    .black-link{
        text-decoration: none;
        color: black;
        background-color: white;
    }

    .restaurant-name{
        font-size: 17px;
        font-weight: bold;
        margin-top: 8px;
        font-family: Roboto;
    }

    .restaurant-location{
        padding-bottom: 13px;
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
    }

    .location-heart-space{
        display: flex;
        justify-content: space-between;
    }

    .heart-logo{
        font-size: 24px;
        margin-right: 20px;
        margin-top: 8px;
    }

    .heart-full{
        font-size: 26px;
        cursor: pointer;
        color: transparent;
        transition: color 0.250s;
        position: absolute;
        right: 19px;
        margin-top: 7px;
    }

    .heart-full:hover{
        color: #9356DC;
    }

    .new{
        border: 2px solid #99E2D0;
        background-color: #99E2D0;
        color: #1a8a3c;
        padding: 3px;
        width: 60px;
        font-family: Roboto;
        font-size: 15px;
    }

    .new-location{
        position: absolute;
        bottom: 185px;
        right: 22px;
    }

    .footer-box{
        background-color: #424040;
        height: 180px;
    }

    .footer-list{
        color: white;
        margin-left: 10px;
        font-family: Roboto;
        font-size: 15px;
    }

    .logo-ohmyfood-bottom{
        font-size: 20px;
        margin-bottom: 18px;
        padding-top: 18px;
        margin-left: 20px;
        color: white;
    }

    .logo-footer{
        margin-left: 10px;
        margin-right: 8px;
    }

    .logo-footer-hand{
        margin-left: 8px;
        margin-right: 2px;
    }

    .footer-adjustement{
        margin-left: 8px;
    }

    .footer-space{
        margin-bottom: 12px;
    }

    .contact-mail-color{
        text-decoration: none;
        color: white;
    }

    @media screen and (min-width: 1024px)
    {
        .utilisation-step {
            display: flex;
            align-items: center;
            margin-left: 0px;
        }

        .fonction-number{
            top: -10px;
            right: -10px;
        }

        .title-restaurant-list{
            margin-bottom: 15px
        }

        .restaurant-list{
            background-color: white;
            padding-bottom: 25px;
        }

        .all-restaurant-box{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .restaurant-box{
            width: 45%;
            margin: 10px;
        }
    }

    @media screen and (min-width: 1600px)
    {
        .restaurant-box{
            width: 23%;
        }
    }